body{
    background-color: rgb(18, 24, 38);
}
nav{
    display: flex;
}
.nav-links{
    flex:1;
    text-align: right;
    padding:20px 20px;
   padding-right: 70px;

}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding:20px 18px;
    position:  relative;
    color: white;
    text-shadow: 5px 5px 3px rgba(53, 52, 52, 0.47);
    font-weight: bold;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.2px;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background: rgb(112, 212, 254);
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;    
}